#loading{
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 999999;
}

#loading img{
    position: relative;
    top: 32%;
    width: 230px;
}

.navbar{
    background-color: #041e43 !important;
    z-index: 99999;
}

.navbar-light .navbar-brand {
    font-family: 'Righteous', cursive;
    color: #18b4e9;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:active,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:visited{
    color: #18b4e9;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff78;
    font-size: 13px;
    padding: 3px 10px 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #016bb5;
}

.site{
    padding: 90px 0;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
}

.table thead{
    background-color: #026cb6;
    color: #fff;
}

.table thead th {
    border: none;
}

.table tbody td {
    font-size: 16px;
    font-weight: 600;
}

.table tbody td.destaque {
    color: #ffd600;
    text-transform: uppercase;
}

.table td, .table th {
    vertical-align: middle;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f5f5f5;
}

footer p{
    font-size: 11px;
    line-height: 16px;
    margin-bottom: 0;
}